.inner_banner img {
   widows: 1200px;
   margin: 0;
   padding: 0;
   height:300px;
    display: inline-flexbox;
    
}

.text-center {
    text-align: center!important;
}
h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    color:black;
    font-size: 4rem;
}


.title-border {
    width: 130px;
    height: 1px;
    margin: 10px auto 30px;
    background-color: #e1e1e1;
    display: block;
    text-decoration-color: white;
}
#address {

    
    background-color: white;
    padding:80px,0 ;
   font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    
}
.container {
    width: 100%;
    padding: 20px 40px 40px;
    position: relative;
    background: #ffffff;
    margin-right: auto;
    margin-left: auto;
   
}
.row {
    display: flex;
    flex-wrap: wrap;
    
    margin-right:50px;
    margin-left: 50px;
    box-sizing: border-box;
    
}
.col-1-2 .col-1-3 {
   
    flex: 0 0 100%;
    justify-content: left;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   
}
#address ul{
    text-align: center;
}


.list-unstyled {
    padding-left: 50px;
    list-style: none;
}

#address ul li {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
   
    
    
}
p, li {
    line-height: 26px;
    color:black;
    
    
    
    
}
#address .add-icon {
    width: 70px;
    vertical-align: top;
}
#address .add-icon, #address .add-text {
    display: inline-block;
    text-align:center;
    font-family:sans-serif;
    font-weight: 300;
    

}
#address .add-icon i {
    font-size: 80px;
    color: blue;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#address .add-text {
    font-size: 18px;
}
#address .add-icon, #address .add-text {
    display: inline-block;
    text-align: left;
}
#address .add-text span {
    font-weight: bold;
    font-size: 20px;
}
.col-1-3 
{
    position: relative;
    box-sizing: border-box;
    border-color: brown;
    border-radius:10px;
    margin-right: 15px;
    margin-left: 300px;
    
}
#contact-us .google-maps {
    
    position: relative
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}
#contact-us .google-maps iframe {
    margin: 50px;
    position: relative;
    
    justify-content: right;
    
}
