*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(chem1.jpg);
    background-size: cover;
    background-position: auto;
    
    font-family: sans-serif;
}
.menu-bar{
    background: yellow;
    text-align: center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color:black;
}
.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 0px;
}
.menu-bar ul li a{
    text-decoration:none;
    color: #000;
}
.Active, .menu-bar ul li:hover{
    background: #57fd0a;
    border-radius: 20px;
    border-style: solid;
       
}
.menu-bar .fa{
    margin-right: 5px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: yellow;
    margin-top: 8px;
    margin-left: -8px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 138px;
    padding: 4px;
   
    border-bottom-style: double ;
    background: transparent;
    border-radius: 10px;
    text-align: center;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: red;
    
}

a{
    text-decoration: none;
    outline: none;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer-main-div{
    width: 100%;
    height: 50%;
    margin: auto;
    background: #272727;
    padding: 3px 0px;
}
.footer-social-icons{
    width: 100%;
    height: 40%;
    margin: auto;
}
.footer-social-icons ul{
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 15px;
    border-radius: 100%;
    background: #32CD32;
}
.footer-social-icons ul li a{
    color: #272727;
    font-size: 20px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 30px;
}
.footer-social-icons ul li:hover{
    background: #f00;
}
.footer-social-icons ul li a:hover {
    color: #fff;
}
.footer-menu-one{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 5px;
}
.footer-menu-one ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 10px;
}
.footer-menu-one ul li a{
    font-family: arial;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-menu-one ul li a:hover{
    color: #32CD32;
}
.footer-menu-two{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 5px;
}
.footer-menu-two ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-menu-two ul li{
    display: inline-block;
    margin: 0px 10px;
}
.footer-menu-two ul li a{
    font-family: arial;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-menu-two ul li a:hover{
    color: #32CD32;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: auto;
    background: #32CD32;
    padding: 8px;
}
.footer-bottom p{
    font-family: arial;
    font-size: 15px;
    text-align: center;
    color:black;
    font-weight: 550;
    letter-spacing: 1px;
}
.footer-bottom p a{
    color: #fff;
}
.footer-bottom p a:hover{
    color:#32CD32;
}


::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}